* {
  box-sizing: flex;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  width: 550px;
  margin: auto;
  border-radius: 1px;
  padding-bottom: 10px;
}

nav {
  background-color: #F55A5A;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.image--icon{
  width: 30px;
}

.img--logo {
  width: 40px;
}

.location {
  color: #F55A5A;
  font-size: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.maps {
  padding-left: 15px;
  opacity: 0.6;
}

.location , .maps {
  display: inline-flex;
}

.maps {
  margin: auto;
}

.image--address {
  width: 200px;
  height: 250px;
  border-radius: 5px;
}

.title {
  font-size: 30px;
}

.image--address, .startDate, .dash--date, .endDate {
  display: inline-flex;
}

.startDate, .dash--date, .endDate {
  align-items: flex-start;
  padding-bottom: 10px;
  font-weight: bold;
}